<h2 [ngClass] = "{online: status == 'This is true'}">server works</h2>
<p [ngStyle] = "{color: getColor()}">The words are "{{ word }}" and {{getWord()}}</p>
<a href = "www.google.com" [target] = "setup">This is a link</a>
<br>
<br>
<button (click)="myFunction()">Click it!</button>
<button (click)="myFunctionTurn()">Turn!</button>
<p>{{serverCreated}}</p>
<p *ngIf = "serverCreated; else replace">{{ status }}</p>
<ng-template #replace>
   <p>
       no change
   </p>
</ng-template>
<form>
<input type = "text" name = "text" [(ngModel)] = "status">
<h1 *ngFor = "let server of servers">
    {{server.name}}
    {{server.discription}}
</h1>
</form>